.Login-form {
    min-width: 400px;
    max-width: 500px;
    display: block;
    margin: 30px auto;
    padding: 15px 40px;
    box-sizing: border-box;
    box-shadow: 1px 1px 4px #8695ac;
    border-radius: 4px;
}

.Login-form-header {
    margin-bottom: 30px;
    color: #3641b7;
    font-size: 1.5em;
    border-bottom: 3px solid #fab832;
}

.Login-form-label {
    display: inline-block;
    min-width: 30%;
}

.Login-form-input {
    margin-bottom: 20px;
    display: inline-block;
    min-width: 60%;
    padding: 6px;
    outline: none;
    border: 1px solid #8695ac;
    border-radius: 5px;
}

.Login-button {
    width: 100px;
    display: block;
    margin: 15px auto 0;
    background: #3641b7;
    border-radius: 5px;
    text-align: center;
    line-height: 2em;
    color: white;

    transition: all 0.15s 0s ease-in-out;
    cursor: pointer;
}

.Login-button:hover {
    background: #fab832;
    color: #3641b7;
}

.Login-button:active {
    background: #fa7132;
    color: #3641b7;
}