#course-list {
    display: table;
    width: 100%;
}

#course-list-headers {
    display: table-row;
}

#course-list-headers div {
    display: table-cell;

    text-align: center;
    text-indent: 10px;
    font-weight: bold;
    line-height: 30px;
}

#course-list div:first-child {
    width: 50%;
    text-align: left;
}

#course-list div:nth-child(2) {
    width: 20%;
}

#course-list div:nth-child(3) {
    width: 10%;
}

#course-list div:nth-child(4) {
    width: 10%;
}

#course-list div:nth-child(5) {
    width: 10%;
}

#course-list div:not(:first-child) {
    vertical-align: middle;
}

.course-item {
    display: table-row;
    margin-bottom: 30px;

    font-size: 16px;
    color: inherit;

    transition: background-color 0.15s 0s ease-in-out;
}

.course-item:not(.unavailable) {
    -webkit-box-shadow: 1px 2px 6px #bdbbca;
    box-shadow: 1px 2px 6px #bdbbca;
}

.course-item:not(.unavailable):hover {
    color: white;
    background-color: #4d6d9a;
}

.course-item div {
    display: table-cell;
    padding: 15px;

    text-align: center;

    transition: all 0.15s 0s ease-in-out;
}

.course-item .completed-icon {
    height: 20px;
    vertical-align: -3px;
}

.course-item.unavailable {
    color: #74737e;
    background-color: #ececec;
}

.note {
    font-size: 12px;
    font-style: oblique;
}
