{% extends 'study/base.html' %}

{% block title %}Course list{% endblock %}

{% block content-card-title %} Course list {% endblock %}

{% block content %}
<div>
    <ul style="list-style-position: inside;">
    {% for course in course_list %}
        <li>
        [ID: {{ course.e.id }}]    
        {{ course.e }}
        [comp: {{ course.completed }}]
        [av: {{ course.available }}]
        [PRE]:
        {% for p in course.e.preconditions.all %}
        {{ p.course_code }} 
        {% endfor %}
        </li>
    {% endfor %}
    </ul>
</div>
{% endblock %}
