{% extends 'study/base.html' %}

{% block title %}Course list{% endblock %}

{% block content %}
<div>
    <table border="1">
    <tr><td>ID</td><td>{{ user.id }}</td></tr>
    <tr><td>username</td><td>{{ user.username }}</td></tr>
    <tr><td>first_name</td><td>{{ user.first_name }}</td></tr>
    <tr><td>last_name</td><td>{{ user.last_name }}</td></tr>
    <tr><td>email</td><td>{{ user.email }}</td></tr>
    </table>
    <h1>Course list</h1>
    <ul style="list-style-position: inside;">
    {% for course in course_list %}
        <li>
        [ID: {{ course.e.id }}]    
        {{ course.e }}
        [comp: {{ course.completed }}]
        [av: {{ course.available }}]
        [PRE]:
        {% for p in course.e.preconditions.all %}
        {{ p.course_code }} 
        {% endfor %}
        </li>
    {% endfor %}
    </ul>
</dev>
{% endblock %}
