{% extends 'study/base.html' %}

{% block title %}Test #{{ test.test_number }} ({{ test.course.course_code }}){% endblock %}

{% block content-card-title %}Test #{{ test.test_number }} {{ test.test_name }}{% endblock %}

{% block content-card-subtitle %}Course: {{ test.course }}{% endblock %}

{% block content %}
{% if results %}
{% for res in results %}
    <li>
    {{ res.score }}, {{ res.dt }}
    </li>
{% endfor %}
{% else %}
No attempts
{% endif %}
<br><br>
<h3>Questions:</h3>
<br>
<form action="{% url 'study:submit_test' test.id %}" method="post">
    {% csrf_token %}
    {% for task in test.task_set.all %}
    <fieldset>
        <legend>{{ task.task_text }}</legend>
        {% for option in task.option_set.all %}
            <input type="checkbox" name="opt-{{ option.id }}" id="opt-{{ option.id }}">
            <label for="opt-{{ option.id }}">{{ option.option_text }} [{{ option.correct }}]</label><br>
        {% endfor %}
    </fieldset>
    <br>
    {% endfor %}
    <input type="submit" value="Vote">
</form>
{% endblock %}
