.ViewMenu {
    margin: 10px;
}

.ViewMenu .content-wrapper {
    padding: 0 20%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
}

.ViewMenu .content-wrapper a {
    text-decoration: none;
    color: inherit;
}

.ViewMenuItem {
    width: 200px;
    min-height: 2em;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 5px;
    margin: 10px 20px;
    border-radius: 5px;
    box-shadow: 1px 1px 4px #8695ac;

    transition: all 0.1s 0s ease-in-out;
}

.ViewMenuItem:hover {
    transform: scale(1.07);
    background: #fab832;
    box-shadow: none;
}

.ViewMenuItem:link {
    text-decoration: none;
}

.ViewMenuItem-image {
    margin: 0 10px 0 5px;
    height: 30px;
}