.DeliveryPanel {
    width: 100%;
    padding: 20px;
    border-radius: 4px;
    background: white;
    box-shadow: 1px 1px 4px #8695ac;
}

.DeliveryPanel-header {
    padding-bottom: 10px;
    margin-bottom: 20px;
    border-bottom: 1px solid #3641b7;
    font-size: 1.5em;
    font-weight: bold;
}

.DeliveryPanel-table {
    width: 100%;
    font-size: 0.9em;
}

.DeliveryPanel-table td {
    padding: 3px 10px;
}

.DeliveryPanel-table tr:first-child{
    background-color: #fab832;
    text-align: center;
}

.DeliveryPanel td:last-child {
    background: white;
}

.DeliveryPanel-table tr:nth-child(2n+1):not(:first-child) {
    background-color: #dde8ff;
}

.DeliveryPanel-create-button {
    padding: 2px;
    width: 105px;
    margin: auto;
    border: 2px solid #3641b7;
    border-radius: 5px;
    color: #3641b7;
    font-weight: bold;

    user-select: none;
    transition: all 0.15s 0s ease-in-out;
    cursor: pointer;
}

.DeliveryPanel-create-button:hover {
    background: #3641b7;
    border-color: white;
    color: white;
}

.DeliveryPanel-create-button:active {
    border-color: #fa7132;
    color: #fa7132;
}

.CreateForm-holder {
    position: absolute;
    top: 0;
    left: 0;
    min-height: 100vh;
    min-width: 100vw;
    background: rgba(37, 37, 57, 0.74);
    z-index: 2;

    display: none;
}

.CreateForm {
    min-width: 400px;
    max-width: 500px;
    display: block;
    margin: 30px auto;
    padding: 15px 40px;
    box-sizing: border-box;
    background: white;
    box-shadow: 1px 1px 4px #8695ac;
    border-radius: 4px;
}

.CreateForm-header {
    margin-bottom: 30px;
    color: #3641b7;
    font-size: 1.5em;
    border-bottom: 3px solid #fab832;
}

.CreateForm-label {
    display: inline-block;
    min-width: 30%;
}

.CreateForm-inout {
    margin-bottom: 20px;
    display: inline-block;
    min-width: 60%;
    padding: 6px;
    outline: none;
    border: 1px solid #8695ac;
    border-radius: 5px;
}

.CreateFrom-button {
    width: 100px;
    display: block;
    margin: 15px auto 0;
    background: #3641b7;
    border-radius: 5px;
    text-align: center;
    line-height: 2em;
    color: white;

    user-select: none;
    transition: all 0.15s 0s ease-in-out;
    cursor: pointer;
}

.CreateFrom-button:hover {
    background: #fab832;
    color: #3641b7;
}

.CreateFrom-button:active {
    background: #fa7132;
    color: #3641b7;
}

.DeliveryPanel-create-button {
    float: right;
    font-size: 0.6em;
    text-align: center;
}