.UserRequestsPanel-return-button {
    padding: 2px;
    width: 60px;
    margin: auto;
    border: 2px solid #3641b7;
    border-radius: 5px;
    color: #3641b7;
    font-weight: bold;
    text-align: center;

    user-select: none;
    transition: all 0.15s 0s ease-in-out;
    cursor: pointer;
}

.UserRequestsPanel-return-button:hover {
    background: #3641b7;
    border-color: white;
    color: white;
}

.UserRequestsPanel-return-button:active {
    border-color: #fa7132;
    color: #fa7132;
}

.UserRequestsPanel-table td:nth-last-child(1), .UserRequestsPanel-table td:nth-last-child(4) {
    text-align: center;
}